.container{background-color: chartreuse;padding: 20px;border: 1px solid #ccc;}
.box{border: 1px solid black; background-color: azure;}
.box-highlight {color: blue; font-weight: bold;text-align: center;}
.special-list{list-style-type: square ;padding-left: 40px;}